{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %}Login{% endblock %}</title>
{% block content %} 
<form method = "POST" action="">
    <br>
    <h3> Login</h3>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div>
        {{ form.email.label }} {{ form.email }}
    </div>
    <div>
        {{ form.password.label }} {{ form.password }}
    </div>
    <div>
        {{form.submit}}
    </div>
    <br>
    <a href="/sign-up" class="btn btn-primary" role="button">Sign Up</a>
</form>
{% endblock %} 
</div>
