{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %}4.Administration Practice{% endblock %}</title>
{% block content %} 
<br> 
<form method = "POST" action = "">
    {{ form.hidden_tag() }}
    <div>
    <br>
    <h2> 4.Administration Practice</h1>
    </div>
    <div>
        <p>4.1 Reports and records effectively and as required </p>
      </div>
            
      {% for choices in form.choices %}
      <tr>
          <td>{{ choices }}</td>
          <td>{{ choices.label }}</td>
      </tr>
      {% endfor %}

      <div>
          {{ form.comments.label }} {{ form.comments }}
      </div>
      <div>
          {{ form.evidence.label }} {{ form.evidence }} 
      </div>
      <div>
          {{ form.actions.label }} {{form.actions}}
      </div>
      <div >
        {{form.date}}
    </div>
  <p>4.2 Effective parent and school staff relationships </p>
      <div>
          {% for choices2 in form.choices2 %}
      <tr>
          <td>{{ choices2 }}</td>
          <td>{{ choices2.label }}</td>
      </tr>
      {% endfor %}
      </div>
      <div>
          {{ form.comments2.label }} {{ form.comments2 }} </div>
      <div>
          {{ form.evidence2.label }} {{ form.evidence2 }} </div>
      <div>
          {{ form.actions2.label }} {{form.actions2}}</div>
        
          <div>
        {{form.date2}}</div>
<div> {{form.submit}}</div>
</form>
<p><a href="/">Submit</a></p>
{% endblock %} 
</div>
