{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %}Home{% endblock %}</title>
{% block content %} 
<br>
<!--<h1>Welcome {{current_user.name}} to the Supervisor Appraisal App</h1>-->
<!--<div>-->
    <!--<p></p>-->
<!--</div>-->
<div style="font-size: 60px; text-align: center; margin-top: 8%; font-weight: 400; color: #fff">
    <div>Welcome {{current_user.name}} to the Supervisor</div>
    <div>Appraisal App</div>
</div>
<div style="text-align: center; margin-top: 50px;font-size: 25px; color:#fff">
    This application provides a digital and intuitive experience to the BTAU Boarding Supervisor matrix.
</div>
{% endblock %} 
</div>
