{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %}1.Professional Practice{% endblock %}</title>

{% block content %} 

<br>
    
<form method="POST" action = "/professional-practice">
    
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <br>
    
    <h1 align = "centre">Professional Practice</h1>
    <br>
        <div>
            <div>
                <p> 1.1 Aware of and complies with current legislation relevant to the role</p>
            </div>
            
            {% for choices in form.choices %}
            <tr>
                <td>{{ choices }}</td>
                <td>{{ choices.label }}</td>
            </tr>
            {% endfor %}

            <div>
                {{ form.comments.label }} {{ form.comments }}
            </div>
            <div>
                {{ form.evidence.label }} {{ form.evidence }} 
            </div>
            <div>
                {{ form.actions.label }} {{form.actions}}
            </div>
            <div >
                {{form.date}}
           </div>
            <div>
                <p> 1.2 Aware of and complies with organisation requirements</p>
                
            </div>
            <div>
                {% for choices2 in form.choices2 %}
            <tr>
                <td>{{ choices2 }}</td>
                <td>{{ choices2.label }}</td>
            </tr>
            {% endfor %}
            </div>

            <div>
                {{ form.comments2.label }} {{ form.comments2 }} </div>
            <div>
                {{ form.evidence2.label }} {{ form.evidence2 }} </div>
            <div>
                {{ form.actions2.label }} {{form.actions2}}</div>
            <div>
            <div>
                {{ form.date2}}
            </div>
                <p> 1.3 Relevant professional learning completed</p>
                </div>
                <div>
                    {% for choices3 in form.choices3 %}
                <tr>
                    <td>{{ choices3 }}</td>
                    <td>{{ choices3.label }}</td>
                </tr>
                {% endfor %}
                </div>
            <div>
                {{ form.comments3.label }} {{ form.comments3 }} </div>
            <div>
                {{ form.evidence3.label }} {{ form.evidence3 }} </div>
            <div>
                {{ form.actions3.label }} {{form.actions3}}</div>
            <div>
            <div >
                {{ form.date3 }}</div>
                <p> 1.4 Safe Workplace health and safety practices</p>
                </div>
                <div>
                    {% for choices4 in form.choices4 %}
                <tr>
                    <td>{{ choices4 }}</td>
                    <td>{{ choices4.label }}</td>
                </tr>    
                {% endfor %}
                </div>
            <div>
                {{ form.comments4.label }} {{ form.comments4 }} </div>
            <div>
                {{ form.evidence4.label }} {{ form.evidence4 }} </div>
            <div>
                {{ form.actions4.label }} {{form.actions4}}</div>  
            <div>
                {{ form.date4 }}
            </div>
    
        
            
        </div>

                           <div>{{form.submit}}

                           </div>
        <div><p><a href="/supervision-practice">Next Page</a></p> </div>

   
  
</form>



{% endblock %} 
</div>
