{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %}2.Supervision Practice{% endblock %}</title>

{% block content %} 

<br>
    
<form method="POST" action = "">
    {{ form.hidden_tag() }}
    <div>
        <br>
        <h2> 2.Supervision Practice</h1>
        </div>
    <div>
        <p>2.1 Contributes to safe activities and environment for all boarders. </p>
    </div>
        <div>
        
        {% for choices in form.choices %}
        <tr>
            <td>{{ choices }}</td>
            <td>{{ choices.label }}</td>
        </tr>
        {% endfor %}
        </div>

        <div>
            {{ form.comments.label }} {{ form.comments }}
        </div>
        <div>
            {{ form.evidence.label }} {{ form.evidence }} 
        </div>
        <div>
            {{ form.actions.label }} {{form.actions}}
        </div>
        <div >
            {{form.date}}
       </div>
    <p>2.2 Has respectful professional relationships with all boarders. </p>
        <div>
            {% for choices2 in form.choices2 %}
        <tr>
            <td>{{ choices2 }}</td>
            <td>{{ choices2.label }}</td>
        </tr>
        {% endfor %}
        </div>

        <div>
            {{ form.comments2.label }} {{ form.comments2 }} </div>
        <div>
            {{ form.evidence2.label }} {{ form.evidence2 }} </div>
        <div>
            {{ form.actions2.label }} {{form.actions2}}</div>
        <div >
            {{form.date2}}
        </div>
         <p>2.3 Supervises boarders effectively, supporting and meeting needs</p>
        <div>
            {% for choices3 in form.choices3 %}
        <tr>
            <td>{{ choices3 }}</td>
            <td>{{ choices3.label }}</td>
        </tr>
        {% endfor %}
        </div>
    <div>
        {{ form.comments3.label }} {{ form.comments3 }} </div>
    <div>
        {{ form.evidence3.label }} {{ form.evidence3 }} </div>
    <div>
        {{ form.actions3.label }} {{form.actions3}}</div>
    <div >
        {{form.date3}}
    </div>
            <p>2.4 Facilitates positive boarder behaviours </p>
            <div>
                </div>
                <div>
                    {% for choices4 in form.choices4 %}
                <tr>
                    <td>{{ choices4 }}</td>
                    <td>{{ choices4.label }}</td>
                </tr>    
                {% endfor %}
                </div>
            <div>
                {{ form.comments4.label }} {{ form.comments4 }} </div>
            <div>
                {{ form.evidence4.label }} {{ form.evidence4 }} </div>
            <div>
                {{ form.actions4.label }} {{form.actions4}}</div>
            <div >
                {{form.date4}}
            </div>     
    
                <p>2.5 Provides sensitive appropriate cultural support </p>
                <div>
                    </div>
                    <div>
                        {% for choices5 in form.choices5 %}
                    <tr>
                        <td>{{ choices5 }}</td>
                        <td>{{ choices5.label }}</td>
                    </tr>    
                    {% endfor %}
                    </div>
                <div>
                    {{ form.comments5.label }} {{ form.comments5 }} </div>
                <div>
                    {{ form.evidence5.label }} {{ form.evidence5 }} </div>
                <div>
                    {{ form.actions5.label }} {{form.actions5}}</div>
                <div >
                    {{form.date5}}
                </div>

                <div>
                    {{form.submit}}
                </div>
                <div>
                   <p><a href="/team-practice">Next Page</a></p>
 
                </div>
</form>
{% endblock %} 
</div>
