{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %}3.Team Practice{% endblock %}</title>

{% block content %} 
<br>
<form method="POST" action = "">
    {{ form.hidden_tag() }}
    <div>
        <br>
        <h2> 3.Team Practice</h2>
        </div>
    <div>
        <p>3.1 Respects and support residence leadership </p>
    </div>
    <div>
       {% for choices in form.choices %}
    <tr>
        <td>{{ choices }}</td>
        <td>{{ choices.label }}</td>
    </tr>
    {% endfor %} 
    </div>

    <div>
        {{ form.comments.label }} {{ form.comments }}
    </div>
    <div>
        {{ form.evidence.label }} {{ form.evidence }} 
    </div>
    <div>
        {{ form.actions.label }} {{form.actions}}
    </div>
    <div >
        {{form.date}}
    </div>
  <p>3.2 Has effective respectful relationships with other members of the team </p>
    <div>
        {% for choices2 in form.choices2 %}
    <tr>
        <td>{{ choices2 }}</td>
        <td>{{ choices2.label }}</td>
    </tr>
    {% endfor %}
    </div>
    <div>
        {{ form.comments2.label }} {{ form.comments2 }} 
    </div>
    <div>
        {{ form.evidence2.label }} {{ form.evidence2 }}</div>
    <div>
        {{ form.actions2.label }} {{form.actions2}}</div>
    <div >
        {{form.date2}}</div>

    <p>3.3 Supports the induction and training of new team members</p>
    <div>
        {% for choices3 in form.choices3 %}
       <tr>
        <td>{{ choices3 }}</td>
        <td>{{ choices3.label }}</td>
        </tr>
    {% endfor %}
    </div>
    <div>
        {{ form.comments3.label }} {{ form.comments3 }} </div>
    <div>
        {{ form.evidence3.label }} {{ form.evidence3 }} </div>
    <div>
        {{ form.actions3.label }} {{form.actions3}}</div>
    <div >
        {{form.date3}}</div>
    <div>{{form.submit}} </div>
    <div> <p><a href="/administration-practice">Next Page</a></p></div>
</form>
{% endblock %} 
</div>
